*{
    margin:0;
    padding:0;
    text-decoration: none;
}

main{
    padding-top: 90px;
}

/*------------------------ ENCABEZADO (HEADER) -----------------------*/

header{           
    width: 100%;
    min-width: 320px;
    position: fixed;   /*Para que quede fijo al scrollear*/
    top: 0; /*Para posicionarlo arriba de todo*/
    margin:0px auto;

    /*right: 0;
    left: 0;
    background-color: #fff;    
    height: 120px;
    z-index: 99;*/
}

header .header-logo img{
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
}

header nav ul{

}

header nav ul li{
  
}

header nav ul li a{
 
}

header nav ul li .no-link{

}

header nav ul li a:hover{
 
}


/*------------------------ CUERPO (BODY) -----------------------*/

body{
    background-color: #ee7ba1;
}
