*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: crimson;
}

.cta{ /*Boton*/
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgba(247, 159, 159, 0.8);;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    animation: btn 4s ease;

}
.cta:hover{
    background-color: crimson;
}

.brand span{
    color: crimson;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.brand img{
    height: 60px;
    width: 90px;
}

/*------------------------------------  navbar  -----------------------------------*/

#header{
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 9vh;
    background-color: rgba(30,30,30, 0.1);
    transition: 1s ease background-color;
}

.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-width: 300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(30,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active{
    left: 0;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: rgba(247, 159, 159, 0.8);;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgba(240, 248, 255, 0.02);
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a:after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a{
    color: crimson;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid rgba(247, 159, 159, 0.8);;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
}

#header .hamburger:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 4px solid rgba(247, 159, 159, 0.8);;
    animation: hamburger_plus 2s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: rgba(247, 159, 159, 0.8);;
    z-index: -1;
}
#header .hamburger .bar:after,
#header .hamburger .bar:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(247, 159, 159, 0.8);;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar:after{
    top: 8px;
}
#header .hamburger .bar:before{
    bottom: 8px;
}
#header .hamburger.active .bar:before{
    bottom: 0;
}
#header .hamburger.active .bar:after{
    top: 0;
}

/*fin navbar*/


/*-----------------------------cabecera------------------------------------*/

/*Coloca la foto de fondo y la centra*/
#hero{
    background-image: url(../imagenes/Fondos/fondo.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}


/*Overlay para darle efecto de contraste al fondo */
#hero::after{ /*After es un pseudo elemento permite insertar contenido detras del elemento html*/
    content: ""; /*Condicion para que funcione el pseudo elemento after*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1; /*Para que quede por debajo del fondo y se pueda cliquear  */
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    align-items: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 3em;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}


/*Efecto de texto revelado*/
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(247, 159, 159, 0.8);;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span{ /*Para hacer secuencial el timing de la primera linea y la segunda*/
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}

/*fin de cabecera*/


/*-------------------------------------LINEAS------------------------------------*/

#services .services{
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top p{
    color: black;
    font-size: 1.4rem;
    margin: 5px 5%;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    text-align: center;
}
#services .service-bottom{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden; /*Sin esto no se verán los bordes redondeados*/
}

#services .service-item:nth-child(1){  
    background-image: url(../imagenes/index/budin.jpg);
}
#services .service-item:nth-child(2){  
    background-image: url(../imagenes/index/sweet-box.jpg);
}
#services .service-item:nth-child(3){  
    background-image: url(../imagenes/index/gift-box.jpg);
}
#services .service-item:nth-child(4){  
    background-image: url(../imagenes/index/cookies-brownies.jpg);
}

/*Overlay para darle efecto de contraste al fondo */
#services .service-item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: white;
    text-align: left;
}

/*fin de Servicios*/


/*--------------------------------------PRODUCTOS--------------------------------*/

#projects .projects{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#projects .project-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .6;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
/*fin de Proyectos*/


/*---------------------------------sobre mi---------------------------------*/
#about .about{
    text-align: center;
    flex-direction: column-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;

}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .cta{
    color: black;
    margin-bottom: 20px;
}
#about .col-left .about-img{
    height: 100%;
    position: relative;
    border: 10px solid white;
}
#about .col-left .about-img::after{
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
/*fin de sobre mi*/


/*-------------------------------------contacto------------------------------------*/

#contact .contact{
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 18px 0 grey;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0 0 5px 0 grey;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/*fin de contacto*/

/*----------------------------------------footer--------------------------------------*/

#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-row{
    display: flex;
    flex-direction: row;
}
#footer .social-icon{
    margin-bottom: 30px;
}
#footer .social-item{
    height: 70px;
    width: 70px;
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .2s ease filter;
}
#footer .social-item img:hover{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}

/*fin de footer*/

/*------------------------------Keyframes (Animaciones)-------------------------*/

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;

    }
}
@keyframes btn{
    0%{
        opacity: .0;
    }
    50%{
        opacity: .0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hamburger_plus{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
/*fin de keyframes*/

/*------------------------------------Media queries para tablet-----------------------------*/

@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px; 
    }
    h1.section-title{
        font-size: 5rem;
    }
    /*Hero*/
    #hero h1{
        font-size: 5rem;
    }
    /*fin de hero*/
    /*------------------*/
    /*servicios*/
    #services .service-bottom{
        flex-direction: row;
    }
    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /*Fin de servicios*/
    /*----------------------*/
    /*proyectos*/    

    #projects .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
        flex-direction: row;
    }
    #projects .project-item:nth-child(even) { /*impares*/
        flex-direction: row-reverse;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-img{
        height: 100%;
    }
    /*Fin de proyectos*/
    /*------------------*/
    /*Acerca de*/
    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 50px;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }

    /*Fin de Acerca de*/
    /*------------------*/
    /*Contacto*/
    #contact .contact{
        padding: 100px 0;
        min-height: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    #contact .contact-item{
        width: 30%;
        margin: 20px;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        height: 90px;
        width: 90px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /*Fin de Contacto*/
}
/*Fin Media queries para tablet*/

/*------------------------------------Media queries para PC--------------------------*/

@media only screen and (min-width:1200px){
    /*header*/
    #header .hamburger{
        display: none;

    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }

    /*fin de header*/
    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }

}
/*Fin de Media queries para PC*/
