

/*------------------------- Tabla ---------------------------*/


table caption {
    font-weight: bold;
    padding: 10px 0 10px 0;
  }
  
  .contenedor-tabla {
    /*Div que contiene la tabla*/
    overflow: auto; /*Scroll de la tabla*/
    height: 75vh; /*Cambiar a algo que mida la pantalla de dispositivo*/
  }
  
  .contenedor-tabla::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .contenedor-tabla::-webkit-scrollbar-thumb {
    background-color: rgba(247, 159, 159, 0.8);
    border-radius: 10px;
  }
  
  .contenedor-tabla::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  table {
    width: 100%;
    /*max-height: 450px;*/
    font-size: 16px;
    margin-bottom: 10px;
    border-collapse: collapse;
    overflow: auto;
  }
  
  table tr th {
    padding: 2px 2px;
    text-align: center; /*Igual se centran solas*/
    font-size: 16px; /*por defecto viene 16 px*/
    border: 1px solid #000;
    background-color: rgba(39, 82, 38, 0.3);
  }
  
  table tr td {
    padding: 2px 2px;
    text-align: center;
    border: 1px solid #000;
  }
  
  table tr:hover {
    background-color: rgba(71, 136, 70, 0.3);
  }
  
  table tr td div {
    overflow: hidden; /*Que hacia esto?*/
  }
  
  .descripcion {
    /*Cambiar al nombre de clase de cada columna*/
    width: 55%;
  }
