body {
  margin: 0;
  padding: 15px;
}

section {
  border: 2px solid rgba(39, 82, 38, 0.8);
  background-color: rgba(39, 82, 38, 0.15);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section .lista {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
  border-radius: 10px;
  margin: 20px;
}
